.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7a3c3c;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-family: "bananaslip plus", "MS Pゴシック";
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #ffd746;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;

  /* --- 水玉模様 --- */
  background-image:
    radial-gradient(#ffffff70 30%, transparent 30%);
  /* 水玉のサイズと間隔を調整 */
  background-size: 20px 20px;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-form {
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-family: "bananaslip plus", "MS Pゴシック";
  color: #7a3c3c;
  background-image: url("b-wipe004_orange.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 8vh;
  padding-top: 5vh;
  line-height: 2;
}

.App-card {
  width: 15vw;
  aspect-ratio: 10 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 4vmin);
  font-family: "bananaslip plus", "MS Pゴシック";
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(78, 0, 0, 0.1);
  color: #7a3c3c;
  border-radius: 8px;
}

.inputTextBox-label,
.inputTextBox {
  color: #333;
}

.inputTextBox-label {
  display: block;
  margin-bottom: 5px;
  font-size: .9em;
}

.inputTextBox {
  width: 60%;
  padding: 8px 10px;
  border: 0px solid #969da3;
  border-radius: 3px;
  font-family: "bananaslip plus", "MS Pゴシック";
  font-size: 1em;
  line-height: 1.1;
  color: #7a3c3c;
}

ul {
  list-style-type: none;
  font-family: "bananaslip plus", "MS Pゴシック";
}

ul li {
  background: #ffffff95;
  margin: 5px;
  padding: 0px 5vw;
}